In [1]:
import polars as pl
import pandas as pd
import numpy as np
import os
from pathlib import Path

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
factor1 = pl.read_csv(r'1. 【国盛金工】“量价淘金”选股因子系列研究（五）：基于趋势资金日内交易行为的选股因子\trend_support_volume_factor\trend_support_volume_factor.csv')
factor1

shape: (7_330_574, 3)
┌────────────┬───────────┬───────────┐
│ date       ┆ code      ┆ factor_3  │
│ ---        ┆ ---       ┆ ---       │
│ str        ┆ str       ┆ f64       │
╞════════════╪═══════════╪═══════════╡
│ 2014-01-02 ┆ 000001.SZ ┆ null      │
│ 2014-01-03 ┆ 000001.SZ ┆ null      │
│ 2014-01-06 ┆ 000001.SZ ┆ null      │
│ 2014-01-07 ┆ 000001.SZ ┆ null      │
│ 2014-01-08 ┆ 000001.SZ ┆ null      │
│ …          ┆ …         ┆ …         │
│ 2024-01-23 ┆ 688789.SH ┆ -1.846037 │
│ 2024-01-24 ┆ 688789.SH ┆ -1.690756 │
│ 2024-01-25 ┆ 688789.SH ┆ -2.248169 │
│ 2024-01-26 ┆ 688789.SH ┆ -0.720085 │
│ 2024-01-29 ┆ 688789.SH ┆ -1.934408 │
└────────────┴───────────┴───────────┘

In [3]:
factor2 = pl.read_csv(r'2. 【方正金工】日内协同股票性价比度量与“协同效应”因子构建\monthly_synergy_diff_factors\new_monthly_synergy_diff_factors.csv')
factor2

shape: (8_744_502, 5)
┌───────────┬────────────┬──────────────┬─────────────┬────────┐
│ code      ┆ date       ┆ monthly_mean ┆ monthly_std ┆ factor │
│ ---       ┆ ---        ┆ ---          ┆ ---         ┆ ---    │
│ str       ┆ str        ┆ f64          ┆ f64         ┆ f64    │
╞═══════════╪════════════╪══════════════╪═════════════╪════════╡
│ 000001.SZ ┆ 2014-01-02 ┆ null         ┆ null        ┆ null   │
│ 000001.SZ ┆ 2014-01-03 ┆ null         ┆ null        ┆ null   │
│ 000001.SZ ┆ 2014-01-06 ┆ null         ┆ null        ┆ null   │
│ 000001.SZ ┆ 2014-01-07 ┆ null         ┆ null        ┆ null   │
│ 000001.SZ ┆ 2014-01-08 ┆ null         ┆ null        ┆ null   │
│ …         ┆ …          ┆ …            ┆ …           ┆ …      │
│ 873527.NE ┆ 2022-12-09 ┆ null         ┆ null        ┆ null   │
│ 873527.NE ┆ 2022-12-12 ┆ null         ┆ null        ┆ null   │
│ 873527.NE ┆ 2022-12-13 ┆ null         ┆ null        ┆ null   │
│ 873527.NE ┆ 2022-12-14 ┆ null         ┆ null        ┆ null   │
│ 873527.NE ┆ 2022-12-15 ┆ null         ┆ null        ┆ null   │
└───────────┴────────────┴──────────────┴─────────────┴────────┘

In [4]:
factor3 = pl.read_csv(r'3. 【国盛金工】量化专题：K线形态信息中的Alpha\csp_com\csp_composite.csv')
factor3

shape: (12_019_239, 3)
┌────────────┬───────────┬───────────┐
│ date       ┆ code      ┆ factor    │
│ ---        ┆ ---       ┆ ---       │
│ str        ┆ str       ┆ f64       │
╞════════════╪═══════════╪═══════════╡
│ 2010-02-04 ┆ 601898.SH ┆ -0.001941 │
│ 2010-02-04 ┆ 600062.SH ┆ -0.092861 │
│ 2010-02-04 ┆ 002240.SZ ┆ -0.009548 │
│ 2010-02-04 ┆ 000915.SZ ┆ 0.154332  │
│ 2010-02-04 ┆ 002097.SZ ┆ -0.052391 │
│ …          ┆ …         ┆ …         │
│ 2025-02-13 ┆ 000930.SZ ┆ 0.801951  │
│ 2025-02-13 ┆ 000932.SZ ┆ 0.192654  │
│ 2025-02-13 ┆ 600735.SH ┆ -0.167147 │
│ 2025-02-13 ┆ 600199.SH ┆ 0.418484  │
│ 2025-02-13 ┆ 600589.SH ┆ -0.207376 │
└────────────┴───────────┴───────────┘

In [5]:
df = factor1.join(
    factor2,
    on=['date','code'],
    how='inner'
).join(
    factor3,
    on=['date','code'],

    how='inner'
).drop(['monthly_mean','monthly_std'])
df

shape: (7_302_219, 5)
┌────────────┬───────────┬────────────┬──────────┬──────────────┐
│ date       ┆ code      ┆ factor_3   ┆ factor   ┆ factor_right │
│ ---        ┆ ---       ┆ ---        ┆ ---      ┆ ---          │
│ str        ┆ str       ┆ f64        ┆ f64      ┆ f64          │
╞════════════╪═══════════╪════════════╪══════════╪══════════════╡
│ 2014-01-02 ┆ 000971.SZ ┆ null       ┆ null     ┆ 1.657462     │
│ 2014-01-02 ┆ 300281.SZ ┆ null       ┆ null     ┆ 1.200004     │
│ 2014-01-02 ┆ 601688.SH ┆ null       ┆ null     ┆ 1.612675     │
│ 2014-01-02 ┆ 002145.SZ ┆ null       ┆ null     ┆ 1.483964     │
│ 2014-01-02 ┆ 300336.SZ ┆ null       ┆ null     ┆ 1.080644     │
│ …          ┆ …         ┆ …          ┆ …        ┆ …            │
│ 2024-01-29 ┆ 600135.SH ┆ -2.630456  ┆ 0.004604 ┆ 0.328427     │
│ 2024-01-29 ┆ 300094.SZ ┆ -15.930723 ┆ 0.012919 ┆ 0.423053     │
│ 2024-01-29 ┆ 002578.SZ ┆ 34.80902   ┆ 0.014549 ┆ -0.123171    │
│ 2024-01-29 ┆ 002207.SZ ┆ -5.176053  ┆ 0.009451 ┆ 0.411038     │
│ 2024-01-29 ┆ 300271.SZ ┆ 2.617026   ┆ 0.004489 ┆ 0.089317     │
└────────────┴───────────┴────────────┴──────────┴──────────────┘

In [9]:
df.select(['factor_3',	'factor',	'factor_right']).drop_nulls().corr()

shape: (3, 3)
┌───────────┬───────────┬──────────────┐
│ factor_3  ┆ factor    ┆ factor_right │
│ ---       ┆ ---       ┆ ---          │
│ f64       ┆ f64       ┆ f64          │
╞═══════════╪═══════════╪══════════════╡
│ 1.0       ┆ -0.215569 ┆ 0.118245     │
│ -0.215569 ┆ 1.0       ┆ -0.277406    │
│ 0.118245  ┆ -0.277406 ┆ 1.0          │
└───────────┴───────────┴──────────────┘